.container {
  height: calc(100vh);
}

.sidenav-content {
  display: flex;
  height: 100%;
  padding: 40px;
  // align-items: center;
  // justify-content: center;
}

.sidenav {
  padding: 20px;
}

.route-navs {
  display: flex;
  flex-direction: column;

  button {
    margin: 20px 0;
  }
}
